/*
For Monochrome green and others, see:
https://superuser.com/questions/361297/what-colour-is-the-dark-green-on-old-fashioned-green-screen-computer-displays/1206781#1206781
*/

:root {
  --retrowave-cyan: #2de2e6;
  --retrowave-blue: #035ee8;
  --retrowave-pink: #f6019d;
  --retrowave-magenta: #d40078;
  --retrowave-purple: #9700cc;
  --background-gray: #121212;
  --monochrome-green: #00ff33;
}

.monochrome-green {
  color: var(--monochrome-green);
}

.retrowave-blue {
  color: var(--retrowave-blue) !important;
}

.retrowave-magenta {
  color: var(--retrowave-magenta);
}